<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>
    <key>KAKAO_NATIVE_APP_KEY</key>
    <string>${KAKAO_NATIVE_APP_KEY}</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kakao${KAKAO_NATIVE_APP_KEY}</string>
            </array>
        </dict>
        <key>LSApplicationQueriesSchemes</key>
          <array>
              <!-- 카카오톡으로 로그인 -->
              <string>kakaokompassauth</string>
              <!-- 카카오톡 공유 -->
              <string>kakaolink</string>
              <!-- 카카오톡 채널 -->
              <string>kakaoplus</string>
          </array>
    </array>
    <key>UIBackgroundModes</key>
    <array/>
</dict>
</plist>
